In [23]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import mysql.connector
import time

# test

In [57]:
items, po, so = fileRead("2018692836")

In [58]:
items[9][-3]

'|         |              |                                  |28 0001 1778442624/90   18/06/01     1|  20955170/20   18/06/01     1 |\n'

In [59]:
a, b = itemsParsing(items,po,so)

In [60]:
b[8]

['2018692836',
 '90',
 '4601976690',
 '9',
 '201869283690',
 '556825',
 'EGC-HD-220-1080-TB-0H-GP',
 1,
 1,
 1,
 1,
 0,
 '1 fr. 18/05/30',
 None,
 None,
 'GLFT',
 'Invoiced 20955170',
 '20955170',
 '']

In [43]:
STATUS={
            "PLAF" : "Plan order, created automatically after the order has been created", 
			"ERO" : "Not Planned, not started. May have missing parts", 
            "FREI" : "No missing part, production order free", 
            "TRÜC": "1 level of a 2 level produciton has been finished", 
            "RÜCK" : "Production finished, on the way to CSC", 
            "GLFT" : "Delivered to CSC",
            "LOE" : "P Order Deleted/Finished",
            "TGLI" : "Partical delivery, the production order has been splitted and partical delivered",
            "" : "UNKNOWN"
    }

In [36]:
def fileRead(filename) :
    items=[]
    item=[]
    count=0
    toggle=False

    #with open(filename,"r", encoding="UTF-8") as file:
    with open(filename,"r", encoding="ISO-8859-1") as file:
        for i in range(6) :
            line=file.readline()
        line=file.readline()
        so=line.split()[5]
        po=line.split()[8]
        while line.find('*****')<0:
            line=file.readline()
            
            if line.find("Seite") >0 :line=file.readline();continue
            
            if line[0]=='-':  count +=1                       
            
            if line[0]=='|'  or  line.count('Ident-code'):
                item.append(line)
                
            if (line[0]=='-' and item!=[] and count%2==1) :
            #if (line[0]=='-' and item!=[] and count%2==1) or  line.find("*****")>0 :
                items.append(item)
                item=[]
                toggle=False
    items.append(item)    
    return items, so, po

In [152]:
def ticketRead(filename) :
    tickets=[]
    ticket=[]    
    
    with open(filename,"r", encoding="ISO-8859-1") as file:
        for i in range(6) :
            line=file.readline()
        line=file.readline()
        so=line.split()[5]
        po=line.split()[8]
        while line.find('*****')<0:
            #print(line.find('*****'))
            line=file.readline()
            if (line.count("|")==15):                
                posNum=line.split("|")[1].strip()                                                            
            if (line.count("Terminreklamation") or line.count("Top Priority")) :                
                line=line.replace("Top Priority", "TopPriority")
                line=line.replace("fr.", "")
                
                ticket=[so] + [posNum] +  line.split()
                
                tickets.append(ticket)
        return tickets

ticketHeader=["so","pos","no","type","issuedDate","IssuedTime","Initiator","responseDate","responseTime"]

In [175]:
def ticketsToDataFrame(filelist) :
    conTIckets=[]
    for file in filelist :
        tickets=ticketRead(file)
        conTIckets=conTIckets+tickets
    conTIckets=pd.DataFrame(conTIckets, columns=ticketHeader)
    return conTIckets

In [56]:
def itemsParsing(items, so, po) :
    
    TotalList=[]
    SumList=[]
    #For each items 
    start=1    
    #skip the info rows
    if str(items).find("Ship-to party ")>0 :
        start= start +1        
        print("skipped ship-to-party", start)
    
    #skip the info rows
    if str(items).find("|internal notice")>0 :
        start= start +1
        print("skipped internal notice", start)
    
    for row in range(start,len(items)) :
        stored=None
        n=len(items[row])
        
        if str(items[row]).find("stored in")>0 : 
            n=n-1
            stored=items[row][-2][76:91].strip()
        
        status=items[row][0][91:95].strip()                   
        no=int(items[row][0][1:5].strip())
        partno=items[row][0][14:22].strip()
        config=items[row][-1][36:80].strip() if items[row][-1][36:80].count("-")>3 else items[1][0][23:62].strip()
        
        #Each records of each Items Parsing
        T1=0;T2=0;T3=0;T4=0
        if str(items[row]).find("Ident")>0 : n-=1
        
        soidx=items[row][0][1:5]
        poidx=items[row][1][1:5]
        d1=None
        d2=None
        d3=None
        d4=None
        eta=None
        for i in range(2,n) :
            t=items[row][i]

            if t[11:19].find(".")>0 :d1=t[11:19]              
            if t[35:46].find(".")>0 : d2=t[38:46]; eta=d2
            if t[85:93].find(".")>0 and t[85:93].find("00.00.00")==-1: d3=t[85:93]                            
            if t[116:124].find(".")>0 : d4=t[116:124]
                
				
            t1=0;t2=0;t3=0;t4=0
            if t[22:25].strip()!='' : 
                t1=int(t[22:25])
                T1+=int(t1)    
            
            if t[49:52].strip()!='' : 
                t2=int(t[49:52]) 
                T2+=int(t2)    

            if t[96:99].strip() !="" and t[96:99].find("ED")==-1 : 
                t3=int(t[96:99]);
                T3+=t3
                
            if t[127:130].strip() !="" and t[127:130].find("|")==-1 : 
                t4=int(t[127:130]);
                T4+=t4

            #Invoice#     
            reference=t[-31:-23].strip()

            #A single row created here
            TotalList.append([so, soidx.strip(), po, poidx.strip(), (so+ str(no)).strip(), d1,t1,d2,t2,d3,t3,d4,t4,reference])

        delta=T1-T4
        reference=""
        if delta==0:
            etd=TotalList[-1][-3]
            REMARK="Invoiced"
            if items[row][-2].count("stored in") : 
                reference=items[row][-3][-31:-23]    
            else : 
                reference=items[row][-2][-31:-23]    
            
        else :
            REMARK=STATUS[status]
            etd=None

        partial="Partial" if delta>0 and T1>delta else ''
        SumList.append([so, soidx.strip(), po, poidx.strip(), (so+ str(no)).strip(), partno, config, T1,T2,T3,T4, delta, stored, etd, eta, status,REMARK + " " + reference, reference, partial])

    return TotalList, SumList

In [22]:
def detailDF (conDF, list) :
    
    DF=pd.DataFrame([], columns=["so", "soidx", "po", "poidx" "d1", "t1", "d2", "t2", "d3","t3", "d4", "t4", "reference"])

    for i in list:
        print ("DETAIL DF", i)
        DF=pd.concat([DF, pd.DataFrame(conDF.loc[i], columns=["d1", "t1", "d2", "t2", "d3","t3", "d4", "t4", "reference"])])    
    return DF

In [23]:
def mergeDF (filelist) :
    colDF=["so", "soidx", "po", "poidx", "idx", "d1", "t1", "d2", "t2", "d3","t3", "d4", "t4", "reference"]
    colSUM=["so", "soidx", "po","poidx", "idx", "partno", "config","T1","T2","T3","T4","△","Stored", "ETD", "ETA", "Status", "Remark", "Ref#", "Partial"]
    conDF=pd.DataFrame([], columns=colDF)
    conSUM=pd.DataFrame([], columns=colSUM)

    for file in filelist :
        print (file, "read to be parsed.... ")
        items, so, po =fileRead(file)
        TotalList, SumList = itemsParsing(items, so, po)        
        conDF=pd.concat([conDF,pd.DataFrame(TotalList, columns=colDF)])
        conSUM=pd.concat([conSUM,pd.DataFrame(SumList, columns=colSUM)])

    conDF=pd.DataFrame(conDF, columns=colDF)                         
    conSUM=pd.DataFrame(conSUM, columns=colSUM)
    conDF=conDF.set_index("idx")
    conSUM=conSUM.set_index("idx")        
    
    partialDF = detailDF(conDF, conSUM[conSUM.Partial=='Partial'].index)    
    return conDF, conSUM, partialDF

# Running for all files in the list

# TICKET READER

In [172]:
from os import listdir
from os.path import isfile, join
mypath="."
filelist = [f for f in listdir(mypath) if f.find("2018") == 0 and len(f)==10]
print(filelist)

['2018683983', '2018692836']

In [ ]:
DF,SUM,PARTIAL = mergeDF(filelist)
conTickets=ticketsToDataFrame(filelist)

In [29]:
def iw53Reader(filename) : 
    lines=[]
    nos=[]
    idxs=[]
    dates=[]
    with open(filename,"r", encoding="ISO-8859-1") as file:
        for line in file:
            if (line.count("Notification")) : 
                no=line.split()[1]
                nos.append(no)                
            if (line.count("Sales ord.")) : 
                idx=line.split()[6] + line.split()[7]                      
                idxs.append(idx)                
            if (line.count("Mat.avail.dat")):
                date=line.split()[1]
                dates.append(date)                
    iw53Result=pd.DataFrame({"date":dates, "idx" : idxs, "no" : nos,  })
    return iw53Result

In [30]:
iw53Result=iw53Reader("IW53.txt")

In [65]:
print(datetime.datetime.now())

2018-06-01 14:08:47.089614

In [ ]:
#To save excel file 
writer=pd.ExcelWriter(time.strftime("%Y%m%d%h%m%s")+'YVA1.xlsx')
SUM.to_excel(writer,'SUM')
DF.to_excel(writer,'DF')
PARTIAL.to_excel(writer,'PARTIAL')
conTickets.to_excel(writer,'tickets')
writer.save()

## Input into MYSQL DB(schema = LO)

In [36]:
#!/usr/bin/python
import time
## dd/mm/yyyy format
print (time.strftime("%Y%m%d"))

20180521

In [26]:
import mysql.connector
f=open('mysql.key').readline().split()
cnx = mysql.connector.connect(user=f[0], password=f[1],
                              host='127.0.0.1',
                              database='lo')
cursor = cnx.cursor()

## Create table

In [ ]:
def create_database(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cnx.database = 'lo'  
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

### Delete the previous YVA (to be developed to keep the history)

In [ ]:
query = "delete from yva1"
cursor.execute(query)
cnx.commit()

## Create Table

In [ ]:
TABLES={}
TABLES['yva1'] = (
    "CREATE TABLE yva1 ("
    "  so varchar(12) NOT NULL,"
    "  soidx varchar(4) NOT NULL,"
    "  po varchar(10),"
    "  poidx varchar(4),"
    "  partno varchar(10),"    
    "  config varchar(50),"    
    "  T1 int(4),"    
    "  T2 int(4),"    
    "  T3 int(4),"    
    "  T4 int(4),"  
    "  delta int(4),"  
    "  stock varchar(30),"  
    "  etd date,"
    "  eta date,"
    "  status varchar(10),"
    "  remark1 varchar(50),"
    "  remark2 varchar(50),"
    "  remark3 varchar(50),"    
    "  PRIMARY KEY (so,soidx)"
    ") ENGINE=InnoDB")

In [ ]:
cursor.execute(TABLES['yva1'])

### insert the new YVA1 data to the DB

In [30]:
cnx = mysql.connector.connect(user=f[0], password=f[1],
                              host='127.0.0.1',
                              database='lo')

cursor = cnx.cursor()    
for k,v in SUM.iterrows():
    value= (str(list(v)).replace("[","").replace("]","").replace("None","Null"))
    query = ("INSERT INTO yva1 VALUES(" + value + ") ")
    print(query)
    
    try :
        cursor.execute(query)
    except Exception as e:
        print(e)
        
cnx.commit()
cnx.close()

INSERT INTO yva1 VALUES('2018683983', '10', '4601974229', '1', '8024917', 'ELGA-TB-KF-150-3750-0H-ZL', 1, 1, 1, 1, 0, Null, '18.05.17', '18.05.17', 'GLFT', 'Invoiced 20946828', '20946828', '')
1062 (23000): Duplicate entry '2018683983-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '20', '4601974229', '2', '8024917', 'ELGA-TB-KF-150-1990-0H', 1, 1, 0, 0, 1, Null, Null, '18.06.01', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-20' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '30', '4601974229', '3', '8024916', 'ELGA-TB-KF-120-2500-0H-ZL', 2, 2, 0, 0, 2, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-30' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '40', '4601974229', '4', '8024916', 'ELGA-TB-KF-120-1350-0H-ZL', 1, 1, 0, 0, 1, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-40' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '50', '4601974229', '5', '8024916', 'ELGA-TB-KF-120-600-0H', 1, 1, 0, 0, 1, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-50' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '60', '4601974229', '6', '556825', 'EGC-HD-220-600-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-60' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '70', '4601974229', '7', '556825', 'EGC-HD-220-1600-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-70' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '80', '4601974229', '8', '556825', 'EGC-HD-220-2035-TB-0H-GP-KL', 1, 1, 0, 0, 1, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-80' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '90', '4601974229', '9', '556825', 'EGC-HD-220-940-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-90' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '100', '4601974229', '1', '556825', 'EGC-HD-220-2350-TB-0H-GP-KL', 2, 2, 0, 0, 2, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-100' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '110', '4601974229', '1', '556825', 'EGC-HD-220-1400-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-110' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '120', '4601974229', '1', '556825', 'EGC-HD-220-1500-TB-0H-GP-KL', 1, 1, 0, 0, 1, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-120' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '130', '4601974229', '1', '556824', 'EGC-HD-160-600-TB-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-130' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '140', '4601974229', '1', '556824', 'EGC-HD-160-700-TB-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-140' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '150', '4601974229', '1', '556821', 'EGC-HD-220-400-BS-25P-0H-GP', 3, 3, 0, 0, 3, Null, Null, '18.07.02', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-150' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '160', '4601974229', '1', '556821', 'EGC-HD-220-350-BS-25P-0H-GP', 7, 7, 0, 0, 7, Null, Null, '18.07.13', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-160' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '170', '4601974229', '1', '556817', 'EGC-185-3000-TB-KF-0H-GK-KR-C', 1, 1, 1, 1, 0, Null, '18.05.14', '18.05.15', 'LOE', 'Invoiced 20944267', '20944267', '')
1062 (23000): Duplicate entry '2018683983-170' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '180', '4601974229', '1', '556817', 'EGC-185-3000-TB-KF-0H-GK-KL-C', 1, 1, 0, 0, 1, Null, Null, '18.05.15', 'FREI', 'No missing part, production order free ', '', '')
1062 (23000): Duplicate entry '2018683983-180' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '190', '4601974229', '1', '556817', 'EGC-185-2520-TB-KF-0H-GK-KR-C', 2, 2, 0, 0, 2, Null, Null, '18.05.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-190' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '200', '4601974229', '2', '556817', 'EGC-185-2520-TB-KF-0H-GK-KL-C', 2, 2, 0, 0, 2, Null, Null, '18.05.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-200' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '210', '4601974229', '2', '556815', 'EGC-120-1300-TB-KF-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-210' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '220', '4601974229', '2', '556815', 'EGC-120-1350-TB-KF-0H-GQ', 2, 2, 0, 0, 2, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-220' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '230', '4601974229', '2', '556815', 'EGC-120-680-TB-KF-0H-GQ', 2, 2, 0, 0, 2, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-230' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '240', '4601974229', '2', '574090', 'ESBF-BS-63-550-25P', 2, 2, 0, 0, 2, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-240' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018683983', '250', '4601974229', '2', '574090', 'ESBF-BS-63-350-25P', 5, 5, 0, 0, 5, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018683983-250' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '10', '4601976690', '1', '556825', 'EGC-HD-220-650-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '20', '4601976690', '2', '556825', 'EGC-HD-220-600-TB-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-20' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '30', '4601976690', '3', '556825', 'EGC-HD-220-1700-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-30' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '40', '4601976690', '4', '556825', 'EGC-HD-220-1600-TB-0H-GP-KL', 1, 1, 0, 0, 1, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-40' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '50', '4601976690', '5', '556825', 'EGC-HD-220-1350-TB-0H-GP-KR', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-50' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '60', '4601976690', '6', '556825', 'EGC-HD-220-1250-TB-0H-GP', 3, 3, 3, 3, 0, Null, '18.05.11', '18.05.09', 'LOE', 'Invoiced 20943417', '20943417', '')
1062 (23000): Duplicate entry '2018692836-60' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '70', '4601976690', '7', '556825', 'EGC-HD-220-1200-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-70' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '80', '4601976690', '8', '556825', 'EGC-HD-220-1100-TB-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-80' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '90', '4601976690', '9', '556825', 'EGC-HD-220-1080-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-90' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '100', '4601976690', '1', '556825', 'EGC-HD-220-1050-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.22', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-100' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '110', '4601976690', '1', '556824', 'EGC-HD-160-800-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.07.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-110' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '120', '4601976690', '1', '556824', 'EGC-HD-160-2350-TB-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.07.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-120' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '130', '4601976690', '1', '556824', 'EGC-HD-160-1880-TB-0H-GP-KR', 1, 1, 0, 0, 1, Null, Null, '18.07.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-130' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '140', '4601976690', '1', '556824', 'EGC-HD-160-1880-TB-0H-GP-KL', 1, 1, 0, 0, 1, Null, Null, '18.07.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-140' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '150', '4601976690', '1', '556824', 'EGC-HD-160-1200-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.07.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-150' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '160', '4601976690', '1', '556808', 'EGC-80-150-BS-10P-KF-0H-MR-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.22', 'TRÜC', '1 level of a 2 level produciton has been finished ', '', '')
1062 (23000): Duplicate entry '2018692836-160' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '170', '4601976690', '1', '556808', 'EGC-80-150-BS-10P-KF-0H-ML-GP', 1, 1, 1, 1, 0, Null, '18.05.16', '18.05.22', 'GLFT', 'Invoiced 20945905', '20945905', '')
1062 (23000): Duplicate entry '2018692836-170' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '180', '4601976690', '1', '556808', 'EGC-80-100-BS-20P-KF-0H-ML-GP', 1, 1, 1, 1, 0, Null, '18.05.16', '18.05.22', 'GLFT', 'Invoiced 20945905', '20945905', '')
1062 (23000): Duplicate entry '2018692836-180' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '190', '4601976690', '1', '556808', 'EGC-80-100-BS-10P-KF-0H-MR-GP', 1, 1, 1, 1, 0, Null, '18.05.16', '18.05.22', 'GLFT', 'Invoiced 20945905', '20945905', '')
1062 (23000): Duplicate entry '2018692836-190' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '200', '4601976690', '2', '556808', 'EGC-80-100-BS-10P-KF-0H-ML-GP', 1, 1, 1, 0, 1, '1 fr. 18.05.17', Null, '18.05.22', 'GLFT', 'Delivered to CSC ', '', '')
1062 (23000): Duplicate entry '2018692836-200' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '210', '4601976690', '2', '556815', 'EGC-120-800-TB-KF-0H-GP', 6, 6, 0, 0, 6, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-210' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '220', '4601976690', '2', '556809', 'EGC-120-700-BS-25P-KF-0H-MR-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-220' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '230', '4601976690', '2', '556809', 'EGC-120-700-BS-25P-KF-0H-ML-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-230' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '240', '4601976690', '2', '556815', 'EGC-120-605-TB-KF-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-240' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '250', '4601976690', '2', '556809', 'EGC-120-400-BS-25P-KF-0H-MR-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-250' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '260', '4601976690', '2', '556809', 'EGC-120-400-BS-25P-KF-0H-ML-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-260' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '270', '4601976690', '2', '556809', 'EGC-120-200-BS-25P-KF-0H-ML-GP', 1, 1, 0, 0, 1, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-270' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '280', '4601976690', '2', '556815', 'EGC-120-1760-TB-KF-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-280' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '290', '4601976690', '2', '556809', 'EGC-120-150-BS-25P-KF-0H-MR-GP', 4, 4, 0, 0, 4, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-290' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '300', '4601976690', '3', '556809', 'EGC-120-150-BS-25P-KF-0H-ML-GP', 4, 4, 0, 0, 4, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-300' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '310', '4601976690', '3', '556815', 'EGC-120-1250-TB-KF-0H-GP', 4, 4, 0, 0, 4, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-310' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '320', '4601976690', '3', '556815', 'EGC-120-1150-TB-KF-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-320' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '330', '4601976690', '3', '556809', 'EGC-120-100-BS-25P-KF-0H-MR-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-330' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '340', '4601976690', '3', '556809', 'EGC-120-100-BS-25P-KF-0H-ML-GP', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018692836-340' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018692836', '350', '4601976690', '3', '562771', 'Toothed b. axis EGC-HD-220-    -TB', 4, 4, 4, 4, 0, Null, '18.04.30', '18.05.08', '', 'Invoiced 20937026', '20937026', '')
1062 (23000): Duplicate entry '2018692836-350' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018715879', '10', '4045511427', '1', '574090', 'ESBF-BS-63-450-25P', 1, 1, 0, 0, 1, Null, Null, '18.06.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018715879-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018715879', '20', '4045511427', '2', '574090', 'ESBF-BS-63-600-25P', 2, 2, 0, 0, 2, Null, Null, '18.06.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018715879-20' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018715876', '10', '4045511425', '1', '556808', 'EGC-80-1000-BS-20P-S-KF-0H-ML-GP-KL', 2, 2, 0, 0, 2, Null, Null, '18.05.29', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018715876-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018740360', '10', '4045516973', '1', '8022601', 'ESBF-BS-50-450-10P', 3, 3, 0, 0, 3, Null, Null, '18.06.08', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018740360-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018740334', '10', '4045516963', '1', '556815', 'EGC-120-1200-TB-KF-0H-GP', 4, 4, 0, 0, 4, Null, Null, '18.06.08', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018740334-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018740334', '20', '4045516963', '2', '556815', 'EGC-120-1300-TB-KF-0H-GP', 2, 2, 0, 0, 2, Null, Null, '18.06.08', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018740334-20' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018740335', '10', '4045516964', '1', '556820', 'EGC-HD-160-1500-BS-20P-S-0H-GP', 10, 10, 0, 0, 10, Null, Null, '18.06.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018740335-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018740337', '10', '4045516965', '1', '556825', 'EGC-HD-220-1600-TB-0H-GP', 1, 1, 0, 0, 1, Null, Null, '18.06.04', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018740337-10' for key 'PRIMARY'
INSERT INTO yva1 VALUES('2018759852', '10', '4601997586', '1', '556815', 'EGC-120-1400-TB-KF-0H-GP', 4, 4, 0, 0, 4, Null, Null, '18.06.15', 'ERO', 'Not Planned, not started. May have missing parts ', '', '')
1062 (23000): Duplicate entry '2018759852-10' for key 'PRIMARY'